$color_1: var(--primary);
$color_2: rgb(255, 255, 255);
$color_3: #232323;
$color_4: #69CA83;
$color_5: #000000;
$color_6: #292929;
$color_7: #ffffff;
$font-family_1: 'inter';
$background-color_1: #282828;

/* variables */
/* reset */
/* base styles */
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* fonts */
/* mobile styles */
/* small tablet styles */
/* large tablet & laptop styles */
/* desktop styles */
:root {
	--primary: #69CA83;
	--secondary: #ffffff;
}
body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	background: var(--secondary);
	overflow-x: hidden;
	font-family: $font-family_1;
}
p {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $color_5;
	line-height: 1.4em;
	font-size: 1em;
}
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: $color_5;
	line-height: 1.4em;
	font-size: 1em;
}
ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
li {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	color: $color_5;
	line-height: 1.4em;
	font-size: 1em;
	&:hover {
		a {
			color: $color_4;
		}
	}
}
.button {
	background: none;
	border: 2px solid var(--primary);
	color: $color_1;
	padding: 6px 12px;
	border-radius: 20px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
	display: inline-block;
	font-size: 1em;
	&:hover {
		color: $color_2;
		background: linear-gradient(180deg, #72EC9F 0%, #5DC6C2 100%);
	}
}
.button-contacto {
	background: none;
	border: 2px solid var(--primary);
	color: $color_1;
	padding: 6px 12px;
	border-radius: 20px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
	display: inline-block;
	font-size: 1em;
}
input {
	background: rgba(155, 167, 156, 0.05);
	padding: 10px 16px;
	border-radius: 20px;
	border: 1.5px solid #69CA83;
	color: $color_3;
	font-size: 1em;
}
textarea {
	background: rgba(155, 167, 156, 0.05);
	padding: 10px 16px;
	border-radius: 20px;
	border: 1.5px solid #69CA83;
	color: $color_3;
	font-size: 1em;
	font-family: $font-family_1;
	color: $color_6;
}
.banner-image {
	border-radius: 35px;
}
.imagen-circular {
	width: 250px;
	border-radius: 50%;
}
.logonegro {
	width: 50px;
	margin-top: 10px;
}
h1 {
	animation-duration: 2.5s;
	animation-name: aparecer;
	animation-iteration-count: 1;
	color: $color_4;
	font-weight: bold;
	font-size: 1.6em;
}
h2 {
	animation-duration: 2.5s;
	animation-name: aparecer;
	animation-iteration-count: 1;
	color: $color_4;
	font-weight: bold;
	line-height: 3em;
	text-align: center;
	font-size: 1.6em;
}
h3 {
	color: $color_5;
	font-weight: normal;
	line-height: 1.4em;
	font-size: 1.2em;
}
.leading {
	font-size: 1.1em;
}
.copyright {
	color: $color_7;
}
.pageTitle {
	text-align: center;
	margin-top: 75px;
	font-size: 30px;
	font-weight: bold;
}
.nosotrosSection {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.nosotrospersonas {
	padding-right: 200px;
	width: 250px;
	padding-left: 200px;
	padding-top: 50px;
}
.nosotrosSectionText {
	padding-right: 20px;
	padding-top: 55px;
	text-align: justify;
	width: 500px;
	text-align: justify;
	width: 90vw;
	padding-top: 20px;
}
.exclamaNosotros {
	text-align: center;
	font-size: 25px;
	padding-top: 50px;
}
.dogNosotrosImageBox {
	display: flex;
	justify-content: center;
}
.dogNosotrosImage {
	width: 200px;
	margin-top: 30px;
}
@media screen and (min-width: 320px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		gap: 10px;
		box-sizing: border-box;
	}
	.site-nav {
		margin: 0 20px;
		img {
			grid-column: 1/4;
			grid-row: 1;
			padding-bottom: 10px;
			border-bottom: 2px solid var(--primary);
			display: inline-block;
		}
		ul {
			display: flex;
			grid-column: 6/9;
			justify-content: flex-end;
			align-self: center;
		}
		li {
			margin-left: 8px;
		}
	}
	#inicio {
		padding: 0 20px 20px 20px;
	}
	.inicio-text {
		grid-column: 1/6;
		a {
			margin: 20px 0;
		}
	}
	.inicio-img {
		grid-column: 6/9;
		img {
			width: 200%;
			border-radius: 10%;
		}
	}
	#servicios {
		background: url(img/square_bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		padding: 30px 20px;
		h3 {
			margin-bottom: 0;
			text-align: center;
		}
	}
	.servicios {
		margin: 20px 0;
		a {
			grid-column: 1/9;
			display: flex;
			margin: 20px 0;
			* {
				margin: 0 20px;
				max-width: 40%;
				align-self: center;
			}
		}
		h4 {
			color: $color_5;
		}
	}
	#como-funciona {
		padding: 30px 20px;
		background: #ffffff;
		h3 {
			text-align: center;
		}
		ul {
			margin: 40px 0;
		}
		li {
			padding: 10px;
			background: rgba(101, 175, 128, 0.2);
			grid-column: span 4;
			text-align: center;
		}
		img {
			height: 80px;
			margin: 10px auto;
		}
		p {
			text-align: center;
			margin: 0 20px;
		}
	}
	#contact {
		padding: 30px 20px;
		background: #f7f7f9;
		h3 {
			margin-bottom: 0;
			text-align: center;
		}
		p {
			margin-bottom: 0;
			text-align: center;
		}
		form {
			width: 80%;
			max-width: 400px;
			margin: 20px auto;
			text-align: center;
		}
		input {
			width: 100%;
			margin: 10px 0;
		}
		textarea {
			width: 100%;
			margin: 10px 0;
			max-width: 100%;
			height: 200px;
		}
		.button {
			margin-top: 10px;
		}
	}
	footer {
		padding: 30px 20px;
		background-color: $background-color_1;
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: top center;
		.copyright {
			grid-column: 1/3;
			font-size: 0.8em;
		}
		.social {
			grid-column: 7/9;
			display: flex;
			justify-content: flex-end;
		}
		li {
			margin: 0 6px;
		}
		img {
			width: 20px;
		}
	}
}
@media screen and (min-width: 620px) {
	.inicio-text {
		grid-column: 1/5;
	}
	.inicio-img {
		grid-column: 5/9;
		img {
			width: 100%;
			border-radius: 10%;
		}
	}
	.servicios {
		margin-top: 40px;
		a {
			grid-column: span 4;
			display: block;
			margin: 20px 0;
			&:last-child {
				grid-column: 3/7;
			}
			* {
				margin: 10px;
				max-width: 60%;
				margin: 10px 20%;
			}
		}
		h4 {
			text-align: center;
		}
	}
	#como-funciona {
		padding: 30px 100px;
	}
	footer {
		background-size: 20%;
	}
}
@media screen and (min-width: 960px) {
	body {
		font-size: 18px;
	}
	.grid {
		max-width: 1060px;
		margin: 0 auto;
		width: 100%;
	}
	.leading {
		margin: 20px 0;
	}
	.site-nav {
		padding: 0 20px;
		h1 {
			grid-column: 1/3;
		}
		ul {
			display: flex;
			grid-column: 6/9;
			justify-content: flex-end;
			align-self: center;
		}
		li {
			margin-left: 20px;
		}
	}
	.inicio-text {
		grid-column: 1/5;
		align-self: center;
	}
	#inicio {
		padding-bottom: 40px;
	}
	.servicios {
		a {
			&:nth-child(1) {
				grid-column: 2/4;
			}
			&:nth-child(2) {
				grid-column: 4/6;
				padding-top: 140px;
			}
			&:nth-child(3) {
				grid-column: 6/8;
			}
			* {
				max-width: 80%;
				margin: 30px 10%;
			}
		}
	}
	#como-funciona {
		padding: 30px 20px;
		ul {
			margin: 40px auto;
		}
		li {
			grid-column: span 2;
		}
		p {
			max-width: 600px;
			margin: 40px auto;
		}
	}
	footer {
		background-size: 20%;
		padding: 40px 20px;
	}
}
@media screen and (min-width: 1200px) {
	body {
		font-size: 20px;
	}
	.site-nav {
		padding: 0;
	}
	#inicio {
		padding: 90px 0;
	}
	#home {
		padding: 90px 0;
	}
	#como-funciona {
		padding: 90px 0;
	}
	#contact {
		padding: 90px 0;
	}
	.leading {
		margin: 20px 0;
	}
	.servicios {
		a {
			&:nth-child(1) {
				grid-column: 1/3;
			}
			&:nth-child(2) {
				grid-column: 4/6;
				padding-top: 140px;
			}
			&:nth-child(3) {
				grid-column: 7/9;
			}
			* {
				max-width: 100%;
				margin: 30px 0%;
			}
		}
	}
	footer {
		padding: 80px 0;
		background-size: 30%;
		.copyright {
			grid-column: 1/4;
		}
		.social {
			grid-column: 6/9;
		}
		img {
			width: 30px;
		}
	}
}